.courses-page-c {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  min-height: 100vh;
  text-align: center;
}

.courses-title-c {
  font-size: 2.5rem;
  color: #1a365d;
  margin-bottom: 3rem;
  position: relative;
}

.courses-title-c::after {
  content: "";
  width: 100px;
  height: 4px;
  background-color: #f39c12;
  display: block;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.courses-container-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.course-card-c {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.course-card-c:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

.course-image-c {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.course-image-c img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.course-card-c:hover .course-image-c img {
  transform: scale(1.1);
}

.badge-c {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color:var(--secondary-color);
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
}

.course-info-c {
  padding: 1rem 1.5rem 2rem;
}

.course-info-c h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #2d3748;
}

.course-info-c p {
  font-size: 0.95rem;
  color: #718096;
  margin-bottom: 1rem;
}

.btn-enroll-c {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-enroll-c:hover {
  background-color: #f39c12;
  transform: translateY(-2px);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .courses-container {
    flex-direction: column;
    align-items: center;
  }

  .course-card-c {
    width: 90%;
  }
}
